{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Restaurant{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


</head>


    <!--Hamburger menu appearance-->
    <div class="off-screen-menu">
        <ul>
            <li><a href="{% url 'home' %}"">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#reservation" id="reservation-link">Reservation</a></li>
            <li><a href="#register" id="register-link">Register</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
            
    <!-- Header -->
    <header>                
        <nav>
            <div class="ham-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>

        <div class="overlay"></div>
        <a href="{% url 'home' %}">
           <div class="logo-bite" ></div>
        </a>
        <div class="container-nav">  
            <!-- Knapp för att öppna popup -->
            <button type="button" class="btn" onclick="openPopup()">RESERVATION</button>

            <!-- Popup -->
            <div class="popup" id="popup" style="display: none;">
                <div class="popup-content">
                    <span class="close" onclick="closePopup()">&times;</span>
                        <h2>Book a table</h2>
                        <form id="reservationForm" method="post" action="{% url 'book_table' %}" data-url="{% url 'book_table' %}"> 
                               {% csrf_token %}
            
                               <div class="input-box">  
                                    <span class="details">Full Name</span>
                                    <input type="text" name="guest_name" placeholder="Enter your name" required>
                                </div>
            
                                <div class="input-box">
                                    <span class="details">Email</span>
                                    <input type="email" name="guest_email" placeholder="Enter your email" required>
                                </div>
            
                                <div class="input-box">
                                    <span class="details">Phone</span>
                                    <input type="tel" placeholder="Enter your phone number" required>
                                </div>
            
                                <div class="input-box">
                                    <span class="details"></span>
                                    <select name="table" required>
                                    <option value="">Select Table</option>
                                        {% for table in tables %}
                                    <option value="{{ table.id }}">Table {{ table.table_number }} (Seats: {{ table.capacity }})</option>
                                        {% endfor %}
                                    </select>
                                </div>
            
                                <div class="input-box">
                                    <span class="details">Date</span>
                                    <input type="datetime-local" name="date_time"required>
                                </div>

                                <div class="input-box">
                                    <span class="details">Number of Guests</span>
                                    <input type="number" name="number_of_guests" min="1" max="20" required>
                                </div>
            
                                <button type="submit" class="submit-btn">Reservate</button>
                            </form>
                            <div id="reservationMessage" class="hidden mt-4 font-semibold"></div>
                             <div id="suggestedTimes" class="hidden mt-2"></div>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    <div class="popup" id="register-popup">
        <div class="popup-content">
            <span class="close" onclick="closeRegisterPopup()">&times;</span>
            <h2>Register</h2>
            <form id="registerform" method="post" action="{% url 'register' %}">
                {% csrf_token %}
                <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" name="first_name" placeholder="Enter your name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" name="last_name" placeholder="Enter your last name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" name="username" placeholder="Enter a username" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password1" placeholder="Enter password" required>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" name="password2" placeholder="Confirm password" required>
                </div>
                <button type="submit" class="submit-btn">Create Account</button>
            </form>
            <div id="registerMessage" class="hidden mt-4 font-semibold text-center"></div>
        </div>
    </div>

    <div class="container">
        <div class="box" id="box1">
            <div class="center-text">
                <div class="big-text"><h1 id="delayed-text" class="hidden">Welcome to Bite</h1></div>
            </div>

        </div>

    
        <!-- Karusellen med knappar -->
        <div class="carousel-wrapper">
            <button class="arrow left prev-btn" id="prevSlide">
                <svg width="60px" height="80px" viewBox="0 0 50 80">
                  <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    points="45.63,75.8 0.375,38.087 45.63,0.375" />
                </svg>
              </button>
            <div class="carousel-container">
                <div class="box" id="box2"></div>
                <div class="box" id="box3">
                    <div class="half left-img"></div>
                    <div class="half right-img"></div>
                </div>
                <div class="box" id="box4"></div>
                <div class="box" id="box5">
                    <div class="half left-img"></div>
                    <div class="half right-img"></div>
                </div>
                <div class="box" id="box6"></div>
                <div class="box" id="box7">
                    <div class="half left-img"></div>
                    <div class="half right-img"></div>
                </div>
                <p>&copy; 2025 Restaurant. All rights reserved.</p>
            </div>
            <button class="arrow right next-btn" id="nextSlide">
                <svg width="60px" height="80px" viewBox="0 0 50 80">
                  <polyline fill="none" stroke="#FFFFFF" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                    points="0.375,0.375 45.63,38.087 0.375,75.8" />
                </svg>
              </button>
        </div>
    </div>
    


    <!-- MAIN CONTENT -->
    <!--<main class="container mx-auto p-6">
        {% block content %}
         Page-specific content will go here 
        {% endblock %}
    </main>-->

    <!-- FOOTER -->
    <footer>
        <p>&copy; 2025 Restaurant. All rights reserved.</p>
    </footer>

    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
